body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header, 
.hero, 
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1px;
}

.header .header-content {
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.hero .hero-content {
    margin: 50px 150px;
    padding: 1px;
    display: flex;
}

.hero .item {
    flex: 1;
    width: 0;
    margin: 20px;
}

.information-section {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.information-section .information-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.information-section .information-content .item {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.information-section .information-content .item img {
    border: solid #3882f6;
    border-radius: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 1px;
}

.quote-section .quote-content {
    margin: 50px 200px; 
    padding: 1px;
}

.quote-section .quote-content .author {
    text-align: right;
    font-weight: bold;
}

.call-to-action-section {
    padding: 1px;
}

.call-to-action-section .call-to-action-card {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    margin: 50px 150px;
    padding: 1px;
}

.call-to-action-section .call-to-action-card .call-to-action-card-content {
    display: flex;
    justify-content: space-between;
    /* Could remove */
    align-items: center;
    margin: 30px 75px;
    padding: 1px;
}

.call-to-action-section .call-to-action-card .call-to-action-card-content button {
    border: solid #f9faf8;
}

.call-to-action-section .call-to-action-card .call-to-action-card-content p {
    margin: 0;
}

.footer {
    text-align: center;
    padding: 10px;
}

/* Text classes */

.header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.information-main-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information-secondary-text {
    font-size: 18px;
    color: grey;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

/* Utilities */

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    margin-top: 10px;
}